---
layout: layouts/lab.njk
tags: lab
eleventyNavigation:
  title: noita particles
description:
  "Loosely based on <a href='https://youtu.be/f6FTjhylJQY?si=oiJbx30-DCqpPjZx'>this video</a> by tanmay."
---

<canvas class="canvas"></canvas>
